---
const { genrenavn, text1, text2, forfatter, titel } = Astro.props;
---

<div
  class="bg-farvenavn-primary border
  border-farvenavn-blackish
  w-[38%]
  rounded-[60px] flex flex-col justify-center"
>
  <h5 class="text-center">{genrenavn}</h5>
  <p class="text-center">{text1}</p>
  <p class="text-center">{text2}</p>
  <h6 class="text-center">Tidligere valg</h6>
  <div class="flex">
    <article>
      <img src="/placeholder.png" alt="" /><div>
        <p>{titel}</p><p>{forfatter}</p>
      </div>
    </article>
    <article><img src="/placeholder.png" alt="" /><div></div></article>
  </div>
</div>
